@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

.main {
  font-family: 'Space Grotesk', sans-serif;
  max-width: 1000px;
  width: 100%;
  height: 399px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titulo {
  color: #0075ff;
  padding: 17px;
}
